<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../static/css/output.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polytrack Explorer</title>
    <script
      src="../static/js/htmx.min.js"
    ></script>
  </head>
  <body>
    <div hx-get="/navbar" hx-trigger="load"></div>
    <div
      class="relative bg-cover bg-center rounded-lg shadow-lg w-3/5 h-48 mx-auto mt-2"
      style="background-image: url('/static/images/mountains.png')"
    ></div>
    <div id="main-content">{{ .MainContent }}</div>
  </body>
</html>
