<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../static/css/output.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polytrack Explorer</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="navbar sticky top-0 z-50 bg-base-100 shadow bg-opacity-95">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li>
              <a hx-target="#main-content" hx-swap="innerHTML" hx-get="/home"
                >Home</a
              >
            </li>
            <li>
              <a hx-target="#main-content" hx-swap="innerHTML" hx-get="/tracks"
                >Tracks</a
              >
            </li>
            <li>
              <a
                hx-target="#main-content"
                hx-swap="innerHTML"
                href="/leaderboards"
                >Leaderboards</a
              >
            </li>
            <li>
              <a hx-target="#main-content" hx-swap="innerHTML" href="/stats"
                >Stats</a
              >
            </li>
          </ul>
        </div>
        <a href="/" class="btn btn-ghost text-xl">X</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a hx-target="#main-content" hx-swap="innerHTML" hx-get="/home"
              >Home</a
            >
          </li>
          <li>
            <a hx-target="#main-content" hx-swap="innerHTML" hx-get="/tracks"
              >Tracks</a
            >
          </li>
          <li>
            <a
              hx-target="#main-content"
              hx-swap="innerHTML"
              href="/leaderboards"
              >Leaderboards</a
            >
          </li>
          <li>
            <a hx-target="#main-content" hx-swap="innerHTML" href="/stats"
              >Stats</a
            >
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>

    <div
      class="relative bg-cover bg-center rounded-lg shadow-lg w-3/5 h-48 mx-auto mt-5"
      style="background-image: url('/static/images/mountains.png')"
    ></div>
    <div id="main-content">
      <div hx-get="/home" hx-trigger="load"></div>
    </div>
  </body>
</html>
