<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../static/css/output.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polytrack Explorer</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div hx-get="/nav" hx-trigger="load"></div>
    <div
      class="relative bg-cover bg-center rounded-lg shadow-lg"
      style="
        background-image: url('/static/images/mountains.png');
        width: 60%;
        height: 200px;
        margin: 0 auto;
      "
    ></div>
    <div id="main-content">
      <p
        class="absolute top-10 left-1/2 transform -translate-x-1/2 translate-y-1/2 inline-flex text-9xl font-bold font-poppins"
      >
        <span
          class="bg-gradient-to-r from-green-400 via-green-500 to-teal-500 bg-clip-text text-transparent"
          >Home</span
        >
      </p>
    </div>
  </body>
</html>
