<p
  class="absolute top-14 left-1/2 transform -translate-x-1/2 translate-y-1/2 inline-flex text-9xl font-bold font-poppins"
>
  <span
    class="bg-gradient-to-r from-green-400 via-green-500 to-teal-500 bg-clip-text text-transparent"
    >Login</span
  >
</p>

<div class="flex items-center justify-center mt-12">
  <div class="p-8 rounded-lg shadow-lg w-80">
    <form
      class="space-y-4"
      hx-post="/login/submit"
      hx-target="#login-error"
      hx-swap="innerHTML"
    >
      <div>
        <label for="first" class="block text-sm font-medium">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          class="mt-1 w-full p-2 border border-gray-300 rounded-lg"
          required
        />
      </div>

      <div>
        <label for="password" class="block text-sm font-medium"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="mt-1 w-full p-2 border border-gray-300 rounded-lg"
          required
        />
      </div>
      <div>
        <button type="submit" class="w-full btn btn-primary">Login</button>
        <div id="login-error">
          {{ block "login-error-block" .}}
          <p class="text-red-500 text-sm pt-1">{{.ErrorMessage}}</p>
          {{ end }}
        </div>
      </div>
      <p class="text-center text-sm mt-4">
        New user?
        <a
          hx-get="/register"
          hx-target="#main-content"
          hx-swap="innerHTML"
          class="text-blue-500 hover:underline cursor-pointer"
          >Create account here</a
        >
      </p>
    </form>
  </div>
</div>
