<div class="flex items-center justify-center min-h-screen">
  <div class="p-8 rounded-lg shadow-lg w-80">
    <form
      class="space-y-4"
      hx-post="/register/submit"
      hx-target="#register-error"
      hx-swap="innerHTML"
    >
      <div>
        <label for="first" class="block text-sm font-medium">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          class="mt-1 w-full p-2 border border-gray-300 rounded-lg"
          required
        />
      </div>

      <div>
        <label for="first" class="block text-sm font-medium">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email Address"
          class="mt-1 w-full p-2 border border-gray-300 rounded-lg"
          required
        />
      </div>

      <div>
        <label for="password" class="block text-sm font-medium"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="mt-1 w-full p-2 border border-gray-300 rounded-lg"
          required
        />

        <input
          type="password"
          id="confirm"
          name="confirm"
          placeholder="Confirm password"
          class="mt-2 w-full p-2 border border-gray-300 rounded-lg"
          required
        />
      </div>

      <div class="flex items-center">
        <p class="text-sm">
          By creating an account you agree to our
          <a class="text-blue-500 hover:underline cursor-pointer"
            >Terms & Privacy</a
          >
        </p>
      </div>

      <button type="submit" class="w-full btn btn-primary">Register</button>
    </form>
    <div id="register-error">
      {{ block "register-error-block" .}}
      <p class="text-red-500 text-sm">{{ .ErrorMessage }}</p>
      {{end}}
    </div>
  </div>
</div>
