<p
  class="absolute top-14 left-1/2 transform -translate-x-1/2 translate-y-1/2 inline-flex text-9xl font-bold font-poppins"
>
  <span
    class="bg-gradient-to-r from-green-400 via-green-500 to-teal-500 bg-clip-text text-transparent"
    >Tracks</span
  >
</p>

<div
  class="flex justify-between items-center pt-2 w-3/5 mx-auto my-2"
  id="select-button"
>
  <div class="flex space-x-4">
    <select class="select select-bordered w-40 select-sm">
      <option selected>New</option>
      <option>Votes</option>
      <option>Views</option>
      <option>Players</option>
    </select>
  </div>
  <button
    class="btn btn-secondary btn-sm"
    hx-post="/tracks/add"
    hx-target="#main-content"
    hx-swap="innerHTML"
  >
    Add track
  </button>
</div>

<div class="w-3/5 mx-auto my-2">
  <div class="grid grid-cols-2 gap-6">
    {{ range . }}
    <div class="card bg-base-100 shadow">
      <figure>
        <img
          class="object-cover w-full h-52"
          src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
          alt="Film placeholder"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        <div class="card-actions justify-between items-center">
          <button
            class="btn btn-secondary btn-outline"
            style="
              display: inline-flex;
              align-items: center;
              justify-content: center;
              min-width: 100px;
            "
            hx-on:click="
            navigator.clipboard.writeText('{{ .Code }}');
            this.querySelector('span').innerText='Copied!';
            setTimeout(() => { 
              this.querySelector('span').innerText='Copy code'; 
            }, 2000);
          "
          >
            <span>Copy code</span>
          </button>
          <div class="flex items-center space-x-2">
            <img
              src="static/images/up.svg"
              alt="Up vote"
              class="w-5 h-5 cursor-pointer"
            />
            <p>1</p>
            <img
              src="static/images/down.svg"
              alt="Down vote"
              class="w-5 h-5 cursor-pointer"
            />
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
