<p
  class="absolute top-10 left-1/2 transform -translate-x-1/2 translate-y-1/2 inline-flex text-9xl font-bold font-poppins"
>
  <span
    class="bg-gradient-to-r from-green-400 via-green-500 to-teal-500 bg-clip-text text-transparent"
    >Tracks</span
  >
</p>

<div
  class="flex justify-between items-center"
  style="width: 60%; margin: 10px auto"
  id="select-button"
>
  <select class="select select-bordered w-40 select-sm">
    <option>Upvotes</option>
    <option selected>New</option>
    <option>Downvotes</option>
    <option>Views</option>
    <option>Players</option>
  </select>
  <button
    class="btn btn-secondary btn-outline btn-sm"
    hx-post="/tracks/add"
    hx-target="#select-button"
    hx-swap="outerHTML"
  >
    Add track
  </button>
</div>
<ul class="list-group fs-5 me-5" id="film-list">
  {{ range .Tracks }}
  <li class="list-group-item bg-primary text-white">
    {{ .Title }} - {{ .Description }}
  </li>
  {{ end }}
</ul>
